@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron">
    <h1 class="display-4">Maratona Xamarin Live</h1>
    <p class="lead">Na Maratona Xamarin Live, você vai aprender a criar um aplicativo utilizando as ferramentas Xamarin para o Visual Studio, ao vivo, com live coding e código aberto hospedado no Git Hub.</p>
    <hr class="my-4">
    <a class="btn btn-success btn-lg" target="_blank" href="https://www.sympla.com.br/maratona-xamarin-live__473469" role="button">FAZER A MINHA INSCRIÇÃO</a>
</div>
<section>
    <div class="container">
        <h1>Sobre a Maratona Xamarin Live</h1>
        <p class="lead">Nesta versão da Maratona, você terá a oportunidade de aprender do zero ou aprofundar  seus conhecimentos no desenvolvimento de aplicativos multi-plataforma, utilizando o Xamarin.</p>
        <p class="text-muted">* A versão Live é organizada pelos MVP's, e não envolve brindes, code review ou avaliação individual dos inscritos.</p>
    </div>
</section>

<section class="mt-5">
    
        <div class="container">
            <h3>Pré Requisitos</h3>
            <p>Conhecimentos prévios em Xamarin, Microsoft Visual Studio, C#, XAML, .NET e Azure.</p>
        </div>
        <div class="container">
            <h3>Requisitos Técnicos</h3>
            <ul>
                <li>Visual Studio 2017 ou 2019 Community com as atualizações mais importantes para o Xamarin;</li>
                <li>Conexão com a Internet;</li>
                <li>Conta no Github.</li>
            </ul>
        </div>
        <div class="container">
            <h3>Conteúdo do treinamento</h3>
            <ul>
                <li>TBA</li>
            </ul>
        </div>
    
</section>

<section class="mt-5 mb-5">
    <div class="container">
        <h2>Instrutores</h2>
        <div class="row mt-5">
            <div class="col-md-4 text-center">
                <img title="William Barbosa" alt="William Barbosa" class="img-thumbnail rounded-circle mb-2 img-max " src="http://xamarinsummit.com.br/assets/images/whatsapp-image-2018-04-23-at-09.21.45-240x320.jpg" />
                <h4>William Barbosa</h4>
                <p>Desenvolvedor Mobile Microsoft MVP, Palestrante, Entusiasta de Xamarin Co-Founder/Host do Monkey Nights Podcast/Webcast e contribuidor do Framework MvvmCross</p>
            </div>
            <div class="col-md-4 text-center">
                <img title="William S. Rodriguez" alt="William S. Rodriguez" class="img-thumbnail rounded-circle mb-2 img-max " src="http://xamarinsummit.com.br/assets/images/c3cpwweb-400x400.jpg" />
                <h4>William S. Rodriguez</h4>
                <p>Desenvolvedor móvel, entusiasta de comunidades Microsoft & Xamarin MVP, Co-Fundador / Host Monkey Nights Dev.</p>
            </div>
            <div class="col-md-4 text-center">
                <img title="Mahmoud Ali" alt="Mahmoud Ali" class="img-thumbnail rounded-circle mb-2 img-max " src="http://xamarinsummit.com.br/assets/images/oe101mw-400x400-240x240.jpg" />
                <h4>Mahmoud Ali</h4>
                <p>Desenvolvedor Web e Mobile na Lambda3, Xamarin Certified Mobile Developer, Microsoft Specialist em C#, entusiasta open source, 7 anos de experiência com Xamarin.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 text-center">
                <img title="Angelo Belchior" alt="Angelo Belchior" class="img-thumbnail rounded-circle mb-2 img-max " src="http://xamarinsummit.com.br/assets/images/28468467-10155662951649355-8279225470067203996-n-960x960.jpg" />
                <h4>Angelo Belchior</h4>
                <p>Desenvolvedor há 15 anos, participou de projetos Desktop, Web e agora Mobile utilizando Xamarin. É Microsoft MVP em Visual Studio e Tecnologias, MCPD em Web e Lead Software Developer na ESX.</p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <img title="Alexandre Chohfi" alt="Alexandre Chohfi" class="img-thumbnail rounded-circle mb-2 img-max " src="https://avatars0.githubusercontent.com/u/527713?s=460&v=4" />
                <h4>Alexandre Chohfi</h4>
                <p>Software Engineer na Microsoft onde trabalha com parceiros Microsoft para ajudá-los a serem bem sucedidos com o Universal Windows Platform (UWP). Ex-desenvolvedor de apps e games.</p>
            </div>
        </div>
    </div>
</section>
