@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron">
    <h1 class="display-4">Maratona Xamarin Live</h1>
    <p class="lead">Na Maratona Xamarin Live, você vai aprender a criar um aplicativo utilizando as ferramentas Xamarin para o Visual Studio, ao vivo, com live coding e código aberto hospedado no Git Hub.</p>
    <hr class="my-4">
    <a class="btn btn-success btn-lg" target="_blank" href="https://www.sympla.com.br/maratona-xamarin-live__473469" role="button">FAZER A MINHA INSCRIÇÃO</a>
</div>
<section>
    <div class="container">
        <h1>Sobre a Maratona Xamarin Live</h1>
        <p class="lead">Nesta versão da Maratona, você terá a oportunidade de aprender do zero ou aprofundar  seus conhecimentos no desenvolvimento de aplicativos multi-plataforma, utilizando o Xamarin.</p>
        <p class="text-muted">* A versão Live é organizada pelos MVP's, e não envolve brindes, code review ou avaliação individual dos inscritos.</p>
    </div>
</section>

<section class="mt-5">

    <div class="container">
        <h3>Pré Requisitos</h3>
        <p>Conhecimentos prévios em Xamarin, Microsoft Visual Studio, C#, XAML, .NET e Azure.</p>
    </div>
    <div class="container">
        <h3>Requisitos Técnicos</h3>
        <ul>
            <li>Visual Studio 2017 ou 2019 Community com as atualizações mais importantes para o Xamarin;</li>
            <li>Conexão com a Internet;</li>
            <li>Conta no Github.</li>
        </ul>
    </div>
    <div class="container">
        <h3>Conteúdo do treinamento</h3>
        <p>
            Vídeos ao vivo que podem ser visualizadas em qualquer navegador web com suporte a vídeo HTML5. Todas as aulas serão com foco em prática.</li>
        </p>
        <p>
            Serão 4 módulos, nos quais você irá aprender:
        </p>
        <ul>
            <li>Criar um aplicativo Xamarin Forms com o MVVM;</li>
            <li>Criar interfaces do meu aplicativo usando XAML;</li>
            <li>Debugar aplicativos usando emuladores e simuladores;</li>
            <li>
                Ganho de produtividade no desenvolvimento de aplicações;
                <ul>
                    <li>Criando e usando Value Converters</li>
                    <li>Criando e usando Effects</li>
                    <li>Criando e usando Behaviors</li>
                    <li>Usando Platform Specific services</li>
                </ul>
            </li>
            <li>
                Aprenderá a criar componentes personalizados e/ou reutilizáveis;
                <ul>
                    <li>Criando e usando Custom Controls</li>
                    <li>Criando e usando Custom Views</li>
                    <li>Criando e usando Custom Renderers</li>
                </ul>
            </li>
            <li>
                Criação, personalização e reutilização de estilos;
                <ul>
                    <li>Reutilizando Styles</li>
                </ul>
            </li>
            <li>
                Utilizará o Linker para otimizar o tamanho da sua aplicação;
                <ul>
                    <li>O que é Linker</li>
                    <li>Como usar o Linker para otimizar o tamanho do seu aplicativo Xamarin Forms para Android</li>
                    <li>Como usar o Linker para otimizar o tamanho do seu aplicativo Xamarin Forms para iOS</li>
                </ul>
            </li>
            <li>
                Publicar um aplicativo nas Google Play &Aacute; App Store
            </li>
        </ul>
    </div>

</section>

<section class="mt-5 mb-5">
    <div class="container">
        <h2 class="mb-5">Instrutores</h2>
        <div class="row mt-2">
            <div class="col-lg-1">
                <img width="70" title="William S. Rodriguez" alt="William S. Rodriguez" class="img-thumbnail rounded-circle mb-2 img-max " src="http://xamarinsummit.com.br/assets/images/c3cpwweb-400x400.jpg" />
            </div>
            <div class="col-lg-11">
                <h4>William S. Rodriguez</h4>
                <p>I help people build things with planning, code, coffee, and persistence.  Software Engineer at ArcTouch, Microsoft and Xamarinhq MVP</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-1">
                <img width="70" title="William Barbosa" alt="William Barbosa" class="img-thumbnail rounded-circle mb-2 img-max " src="http://xamarinsummit.com.br/assets/images/whatsapp-image-2018-04-23-at-09.21.45-240x320.jpg" />
            </div>
            <div class="col-lg-11">
                <h4>William Barbosa</h4>
                <p>Desenvolvedor Mobile Microsoft MVP, Palestrante, Entusiasta de Xamarin Co-Founder/Host do Monkey Nights Podcast/Webcast e contribuidor do Framework MvvmCross</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-1">
                <img width="70" title="Mahmoud Ali" alt="Mahmoud Ali" class="img-thumbnail rounded-circle mb-2 img-max " src="http://xamarinsummit.com.br/assets/images/oe101mw-400x400-240x240.jpg" />
            </div>
            <div class="col-lg-11">
                <h4>Mahmoud Ali</h4>
                <p>Desenvolvedor Web e Mobile na Lambda3, Microsoft MVP, entusiasta open source, gamer e apreciador de boas cervejas.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-1">
                <img width="70" title="Angelo Belchior" alt="Angelo Belchior" class="img-thumbnail rounded-circle mb-2 img-max " src="http://xamarinsummit.com.br/assets/images/28468467-10155662951649355-8279225470067203996-n-960x960.jpg" />
            </div>
            <div class="col-lg-11">
                <h4>Angelo Belchior</h4>
                <p>Desenvolvedor há 15 anos, participou de projetos Desktop, Web e agora Mobile utilizando Xamarin. É Microsoft MVP em Visual Studio e Tecnologias, MCPD em Web e Lead Software Developer na ESX.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-1">
                <img width="70" title="Alexandre Chohfi" alt="Alexandre Chohfi" class="img-thumbnail rounded-circle mb-2 img-max " src="https://avatars0.githubusercontent.com/u/527713?s=460&v=4" />
            </div>
            <div class="col-lg-11">
                <h4>Alexandre Chohfi</h4>
                <p>Software Engineer na Microsoft onde trabalha com parceiros Microsoft para ajudá-los a serem bem sucedidos com o Universal Windows Platform (UWP). Ex-desenvolvedor de apps e games.</p>
            </div>
        </div>
    </div>
</section>
